header.main-header.header-2 {
  z-index: 101;
}

aside.main-sidebar {
  z-index: 100;
  height: 100%;
}

.btn-block{
  background-color: #3c8dbc !important;
  color: white;
  text-align: left !important;
}

.input-group {
  padding-top: 0.5em;
}

#u_0_0 {
  width: 100% !important;
}